<div class="container py-3">

    <div class="app-title">
      <div>
        <h2><i class="fa fa-th-list"></i> Registro de Servicio</h2>
        <p>Detalle de hoja de servicio</p>
      </div>
      <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item active"><a routerLink='/main'>Dashboard</a></li>
        <li class="breadcrumb-item">Modulo - Servicios</li>
  
      </ul>
    </div>
  </div>
  
    <section >
      <div class="container">
        <form class="contact-form row">
            <div class="row">
              <div class="col-md-4">
                <div class="d-grid gap-2">
                  <button class="btn btn-success btn-lg btn-block" (click)="descargarDocumento()"><span class="glyphicon glyphicon-edit"></span> descargar</button>
                </div>
              </div>
              <div class="col-md-4">
                <div class="d-grid gap-2">
                  <button class="btn btn-success btn-lg btn-block" (click)="abrirDocumento()"><span class="glyphicon glyphicon-edit"></span> open</button>
                </div>
            </div>
            </div>
          </form>
      </div>
  </section>